<h1><%= @band.name() %></h1>

<% if @band.venues().any?() %>
  <h2>Venues assigned to this band:</h2>
  <ul>
  <% @band.venues().each() do |venue| %>
    <li><a href="/venues/<%= venue.id() %>"><%= venue.name() %></a> 
    <form class="band-list" action="/venues/<%= venue.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="band_id" value="<%= @band.id() %>">
      <button type="submit" class="btn-remove"><i class="fa fa-times"></i></button>
    </form>
    </li>
  <% end %>
  </ul>
<% else %>
  This band has never played anywhere!
<% end %>

<hr>

<% if @band.venues() != @venues %>
  <h2>Add venues for this band:</h2>
  <form action="/bands/<%= @band.id() %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @venues.each() do |venue| %>
      <% if ! @band.venues().include?(venue) %>
        <div class="checkbox">
          <label><input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"><%= venue.name() %></label><br>
        </div>
      <% end %>
    <% end %>
    <button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Venue</button>
  </form>
<% end %>

<hr>

<form action="/bands/<%= @band.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Band</button>
</form>

<hr>
<a href="/bands">All bands</a>